<a href="https://colab.research.google.com/github/umidyor/my_model_evaluation_journey_r2_score/blob/main/my_ds_babel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget 'https://storage.googleapis.com/qwasar-public/track-ds/list_volcano.csv'  
!wget 'https://storage.googleapis.com/qwasar-public/track-ds/all_fault_line.db'

--2022-09-22 14:01:16--  https://storage.googleapis.com/qwasar-public/track-ds/list_volcano.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 142.251.2.128, 2607:f8b0:4023:c0d::80, 2607:f8b0:4023:c0b::80
Connecting to storage.googleapis.com (storage.googleapis.com)|142.251.2.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 21474 (21K) [text/csv]
Saving to: ‘list_volcano.csv’

list_volcano.csv    100%[===================>]  20.97K  --.-KB/s    in 0s

2022-09-22 14:01:16 (116 MB/s) - ‘list_volcano.csv’ saved [21474/21474]

--2022-09-22 14:01:16--  https://storage.googleapis.com/qwasar-public/track-ds/all_fault_line.db
Resolving storage.googleapis.com (storage.googleapis.com)... 142.251.2.128, 2607:f8b0:4023:c0d::80, 2607:f8b0:4023:c0b::80
Connecting to storage.googleapis.com (storage.googleapis.com)|142.251.2.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20480 (20K) [application/octet-stream]
Saving to: ‘all_fault_line.db’

all_fault_line.db   100%[===================>]  20.00K  --.-KB/s    in 0s

2022-09-22 14:01:17 (120 MB/s) - ‘all_fault_line.db’ saved [20480/20480]

In [ ]:
import pandas as pd
import csv
import sqlite3 as sql

In [ ]:
def sql_to_csv(database, table_name):
  connection = sql.connect(database)
  df = pd.read_sql(f"select * from {table_name}", connection)
  df.to_csv("my_csv.csv", index=False)
  with open("my_csv.csv", "r") as file:
    return file.read()[:-1]

print(sql_to_csv("all_fault_line.db",'fault_lines'))

fault_name,length,location,sense_of_movement,time_of_movement,associated_earthquakes
Aedipsos-Kandili Fault,60,North Euboean Gulf - Greece,Normal,Active,
Alaska-Aleutian Megathrust,3600,Kamchatka - Russia to Gulf of Alaska,Subduction zone,Active,1964 Prince William Sound (M9.2) - 1965 Rat Islands (M8.7) - 1957 Andreanof Islands (M8.6)
Alpine Fault,1400,South Island - New Zealand,Dextral strike-slip,Active,2009 Fiordland (M7.8)
Altyn Tagh Fault,1200,Tibetan Plateau/Tarim Basin,Sinistral strike-slip,Active,
Amfilochia Fault,60,Western Greece,Sinistral strike-slip,Active,
Amorgos Fault,>100,Greece - South Aegean Sea,Normal,Active,1956 Amorgos (M7.4)[1]
Arkitsa – Agios Konstantinos Fault zone,25,Central Greece,Normal,,
Aspy Fault,40,Nova Scotia,Strike-slip,,
Atacama Fault,800,Atacama desert - Chile,Strike-slip,Active,
Atalanti Fault,50,Central Greece,Normal Fault,Active,1894 Atalanti (M6.4 - M6.9)
Atotsugawa Fault,Japan,Dextral strike-slip,Active,1858 Hietsu earthquake (M~7),
Awatere Fault,South Island - New Zealand,Dextral strike-slip,Active,1848 Marlborough (M7.5),
Azores–Gibraltar Transform Fault,2250,Azores to Strait of Gibraltar,Dextral strike-slip,Active,1755 Lisbon earthquake (est. M7.5–8.0) - 1969 Cape St. Vincent (M7.9) - 1941 Gloria Fault (M8.0)
Baikal Rift Zone,Lake Baikal,Rift zone,Active,,
Ballenas Fault,Gulf of California - United States,Transform,Active,,
Brothers Fault Zone,Oregon - United States,,,,
Cascadia megathrust,1000,West coast of United States – Oregon & Washington Vancouver Island Canada,Subduction zone,Active,1700 Cascadia (M9.0)
Central African Shear Zone,4000,Central Africa,Rift zone,,
Cerro Prieto Fault,Gulf of California - United States,Transform,Active,,
Chixoy-Polochic Fault,Guatemala,Transform,Active,1816 Guatemala (M7.5)[2],
Christchurch Fault,South Island - New Zealand,Active,,,
Chile subduction megathrust,3000,West coast of Chile,Subduction zone,Active,1960 Valdivia (M9.5); 1906 Valparaiso (M8.2); 2010 Maule (M8.8); 2014 Iquique (M8.2)
Clarence Fault,South Island - New Zealand,Dextral strike-slip,Active,,
Clarendon-Linden fault system,New York - United States,,,,
Clayton-Marsh Creek-Greenville Fault,California - United States,,,,
Cochabamba Fault Zone,Bolivia,Sinistral strike-slip,,,
Corinth Rift,110,Greece,Normal Fault,Active,1995 Aegion (M6.2); 1981 Alkyonides; 1861 Helike; 373 BC Helike
Craven Fault System,Pennines,Normal Fault,Carboniferous,,
Darling Fault,950-1500,Western Australia - Australia,Proterozoic,,
Dead Sea Transform,Sinai Peninsula,Sinistral transform,Active,1138 Aleppo earthquake,
Delfi Fault Zone,25,Central Greece,Normal to strike-slip,,
Denali Fault,British Columbia - Canada to Alaska - United States,Dextral strike-slip,Active,2002 Denali (M7.9),
East Anatolian Fault,Turkey,Strike-slip,Active,2003 Bingöl (M6.4) - 2010 Elâzığ (M6.1),
Eastern Tennessee Seismic Zone,Alabama to Virginia - United States,Active,2003 Alabama (M4.6),,
Elsinore Fault Zone,180,California - United States,Dextral strike-slip,Active,
Eltanin Fault System,Southern Ocean,Dextral transform,Active,1600 km offset,
Enriquillo-Plantain Garden fault zone,Hispaniola,Sinistral strike-slip,Active,2010 Haiti (M7.0),
Glarus thrust,Switzerland,Thrust fault,Cenozoic,,
Great Glen Fault,Scotland,Strike-slip,Silurian to Cenozoic,,
Great Lakes Tectonic Zone (GLTZ),1 -400,Great Lakes - United States,Tectonic zone,Neoarchean,
Great Sumatran Fault,Sumatra - Indonesia,Strike-slip,Active,1943 Alahan Panjang (M7.2) - 1994 Liwa (M7.0),
Greendale Fault,South Island - New Zealand,Dextral strike-slip,Active,2010 Canterbury (M7.1),
Guaymas Fault,325,California - United States,Dextral strike-slip,Active,
Gulf of California Rift Zone,1300,Mexico,Rift zone,Active,2010 Mexicali (M7.2)
Hayward Fault Zone,119,San Francisco Bay - California - United States,Strike-slip,Active,1868 Hayward (M6.3–6.7)
Hellenic Arc,1000,East Mediterranean Sea,Thrust/Strike-slip,365 AD (M8.5+); 1303 AD (~8),
Honey Lake Fault Zone,Nevada and California - United States,Dextral strike-slip,Active,,
Hope Fault,South Island - New Zealand,Dextral strike-slip,Active,1888 North Canterbury (M7.3),
Humboldt Fault Zone,Nebraska to Kansas - United States,Normal fault,Active,1867 Manhattan - Kansas (M5.1),
Imperial Fault Zone,California - United States,Dextral strike-slip,Active,1940 El Centro (M6.9) - 1979 Imperial Valley (M6.4),
Ierapetra Fault,40,Crete,Normal Fault,,
Independence Valley fault system,Nevada - United States,Normal fault,Active,2008 Wells earthquake (M6.0),
Kameni-Kolumbo Fault zone,>60,Greece - South Aegean Sea,Dextral (?) Strike-slip,,
Kandi Fault Zone,West Africa,,,,
Karsdorf Fault,Germany,,,,
Kego Fault,Japan,Active,2005 Fukuoka (M7.0),,
Kefalonia Transform Fault,180,Greece - Ionian Sea,Dextral strike Slip,Active,1953 Kephalonia (M7.2)
Kermadec-Tonga Subduction Zone,New Zealand,Subduction zone,Active,,
Kern Canyon Fault,Sierra Nevada - California - United States,Thrust fault,,,
Kunlun fault,1500,Tibet,Sinistral strike-slip,Active,2001 Kunlun (M7.8)
Laguna Salada Fault,64–80,United States and Mexico,Strike-slip,Active,2010 Mexicali M7.2)
Laptev Sea Rift,Arctic Ocean,Rift zone,,,
Liquiñe-Ofqui Fault,1000,Andes - Chile,Strike-slip,,
Long Point–Eureka Heights Fault System,Texas - United States,Normal fault,,,
Longmen Shan Fault,Sichuan - China,Thrust fault,Active,2008 Sichuan (M8.0),
Lusatian Fault,Germany,Thrust fault,,,
Macquarie Fault Zone,South Pacific Ocean,Strike-slip,Active,2008 Macquarie Island earthquake (M7.1),
Magallanes–Fagnano Fault,South America,Transform,,,
Main Uralian Fault (MUF),2000+,Urals,Subduction zone,,
Marianna Fault,Arkansas - United States,,,,
Marikina Valley Fault System,Philippines,Dextral strike-slip,active,,
Marlborough Fault System,South Island - New Zealand,Dextral strike-slip,Active,1843 Wanganui (M~7.5),
Meers Fault,Oklahoma,Oblique slipe,Active,Holocene,
Mendocino Fracture Zone,California - United States,Transform,Active,,
Moab Fault,Utah - United States,Normal fault,Active,,
Mocha Fracture Zone,Mocha Island - Chile,Transform,Active,,
Motagua Fault,Guatemala,Transform,Active,1717 - 1773 - 1902 - 1976 - 1980 - 2009,
Mygdonia Graben,North Greece,Normal to strike-slip,Active,1978 Thessaloniki (M6.4),
Neodani Fault,Japan,Active,1891 Mino–Owari (M8.0),,
New Madrid Fault Zone,Missouri - United States,Normal fault,Active,1811–1812 three (M7-8),
Nootka Fault,British Columbia - Canada,Transform,Active,,
North Aegean Trough,>250,North Aegean Sea - Greece - Turkey,Dextral strike-slip,Active,1912 (M7.6); 1982 (M6.7); 2014 (M6.9)
North Anatolian Fault,Turkey,Dextral strike-slip,Active,1939 Erzincan (M7.8) - 1912 Ganos (M7.4) - 1999 Izmit (M7.4) - 1999 Düzce (M7.2),
North Ikaria Fault,>80,Central Aegean Sea - Greece,Dextral strike slip,,
North Island Fault System,500,North Island - New Zealand,Dextral strike slip,Active,
Palu-Koro Fault,500,Palu - Sigi - Donggala - Indonesia,Sinistral strike-slip,Active,2005 Bora - Sigi earthquake (M6.2) - 2018 Sulawesi earthquake (M7.5)
Periadriatic Seam,1000,Alps - Europe,Dextral strike-slip,,
Pichilemu Fault,40,Chile,Active,2010 Pichilemu (Libertador O'Higgins) (M6.9),
Pliny Trench,300,Eastern Mediterranean Sea - Hellenic Trench,Sinistral strike-slip,,
Port Hills Fault,South Island - New Zealand,Active,2011 Christchurch (M6.3),,
Pyramid Lake Fault Zone,Nevada - United States,Dextral strike-slip,,,
Ramapo Fault,300,New York - New Jersey - Pennsylvania - United States,Normal fault,Triassic to Early Jurassic,
Raymond Fault,California - United States,,,,
Red Sea Rift,Red Sea,Rift zone,,,
Reigolil-Pirihueico Fault,Andes,,,,
Rhine Rift Valley,Germany and France,Rift zone,Active,1356 Basel (M6 to 7),
Rio Grande Rift,Rio Grande Valley - United States and Mexico,Rift zone,,,
Salzach-Ennstal-Mariazell-Puchberg Fault System (SEMP),400[3],Austria,Sinistral strike-slip,,
San Andreas Fault System (Banning fault - Mission Creek fault - South Pass fault - San Jacinto fault - Elsinore fault),1300,California - United States,Dextral strike-slip,Active,1906 San Francisco (M7.7 to 8.25) - 1989 Loma Prieta (M6.9)
San Ramón Fault,Chile,Thrust fault,,,
Sawtooth Fault,Idaho - United States,Normal fault,,,
Seattle Fault,Washington - United States,Thrust fault,Active,,
Septentrional-Orient fault zone,Caribbean,Sinistral strike-slip,Active,1842 Cap-Haïtien (M8.1),
Sierra Nevada Fault,California - United States,Normal fault,Active,1872 Lone Pine (M7.4–8.3),
Skyros-Edremit Fault zone,>150,Aegean Sea - Greece - Turkey,Dextral Strike-slip,Active,1967 - 1981
Sobral Fault,Brazil,Strike-slip,,,
Sorong fault,Oceania,Sinistral strike-slip,Active,2009 Kepulauan Talaud (M7.2),
Sparta Fault,65,Peloponnese - Greece,Normal fault,Active,464 BC Sparta (M7.2)
Spili Fault,20,Crete - Greece,Normal fault,Active,
Strabo Trench,300,Eastern Mediterranean Sea - Hellenic Trench,Sinistral strike-slip,Active,
Sunda subduction megathrust,5000,South East Asia,Subduction zone,Active,2004 Banda Aceh (M9.1) - 2005 Nias (M8.6) - 2007 Bengkulu (M8.4)
Tacoma Fault,56,Washington - United States,Thrust fault,Active,
Tatsuda Fault,Japan,Active,1889 Kumamoto (M6.3),,
Tintina Fault,British Columbia - Canadato Alaska - United States,Strike-slip,Late Cretaceous to Oligocene,,
Ulakhan Fault,Siberia to Aleutian Trench,Sinistral strike-slip,Active,,
Virginia Seismic Zone,Virginia - United States,Active,2011 Virginia (M5.8),,
Wabash Valley Seismic Zone,Illinois - Indiana - United States,Normal fault,Active,2008 Illinois (M5.4),
Wasatch Fault,Utah - United States,Normal fault,Active,,
Wellington Fault,North Island - New Zealand,Dextral strike-slip,Active,,
Wairarapa Fault,North Island - New Zealand,Dextral strike-slip,Active,1855 Wairarapa (M8.2),
Wairau Fault,South Island - New Zealand,Dextral strike-slip,Active,,
Wilzetta Fault,89,Oklahoma - United States,Strike-slip,Active,2011 Oklahoma (M5.6)

In [ ]:
def csv_to_sql(csv_content, database, table_name): 
    df = pd.read_csv(csv_content)
    df = df.drop_duplicates()
    df.columns = df.columns.str.replace(" ", "")
    connection = sql.connect(database)
    df.to_sql(table_name, con=connection, if_exists='replace', index=False)
    



csv_content = open("list_volcano.csv")
csv_to_sql(csv_content, 'list_volcanos.db','volcanos')

In [ ]:
import sqlite3
import pandas
import warnings
warnings.filterwarnings('ignore')

def sql_to_csv(database, table_name):
    conn = sqlite3.connect(database)
    cursor = conn.cursor()
    query = f"select * from {table_name}"
    results = pandas.read_sql_query(query, conn)
    results.to_csv("list_fault_lines.csv", index=False)
    with open("list_fault_lines.csv",'r') as csvf:
        return csvf.read()[:-1]


def csv_to_sql(csv_content, database, table_name):
    df = pandas.read_csv(csv_content)
    df = df.drop_duplicates()
    conn = sqlite3.connect(database)
    df.to_sql(table_name, con=conn, if_exists='replace', index=False)



print(sql_to_csv('all_fault_line.db','fault_lines'))

csv_to_sql('list_volcano.csv', 'list_volcanos.db','volcanos')

DatabaseError: ignored

In [ ]:
import sqlite3
import pandas
import warnings
warnings.filterwarnings('ignore')

def sql_to_csv(database, table_name):
    conn = sqlite3.connect(database)
    cursor = conn.cursor()
    query = f"select * from {table_name}"
    results = pandas.read_sql_query(query, conn)
    results.to_csv("list_fault_lines.csv", index=False)
    with open("list_fault_lines.csv",'r') as csvf:
        return csvf.read()[:-1]


def csv_to_sql(csv_content, database, table_name):
    df = pandas.read_csv(csv_content)
    df = df.drop_duplicates()
    conn = sqlite3.connect(database)
    df.to_sql(table_name, con=conn, if_exists='replace', index=False)



print(sql_to_csv('all_fault_line.db','fault_lines'))

csv_to_sql('list_volcano.csv', 'list_volcanos.db','volcanos')

DatabaseError: ignored